.team-card {
  width: fit-content;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10px;
  height: 150px;
  background-color: #f5e4e4;
  padding: 7px;
  border-color: red;
  border-width: 3px;
  border-radius: 5%;
}
.team-card:hover {
  transform: scale(1.02);
}
.team-image {
  width: 160px;
  object-fit: contain;
  flex-shrink: 0;
  border-radius: 5px;
}
.team-main-container {
  display: flex;
  align-items: flex-start;
  padding-right: 7px;

  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: transparent;
}
.team-first-row {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: transparent;
  align-items: flex-end;
  text-align: right;
}
.constructor-name {
  color: var(--dl-color-gray-500);
  font-weight: 700;
  font-size: 30px;
  background-color: transparent;
}

.team-points {
  color: white;
  font-weight: bold;
  background-color: blueviolet;
  border-radius: 8px;
  border-color: white;
  border-width: 2px;
  padding: 2px;
  background-color: red;
}

.team-nationality-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
}

.team-nationality {
  color: var(--dl-color-gray-black);
  font-style: normal;
  font-weight: 500;
  background-color: transparent;
}
